* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*Установил фон и размер 1 rem*/

html {
	font-size: 62.5%;
	font-family: Helvetica;
	background-size: cover;
}
/*Сбросил подчеркивание ссылок*/

a {
	text-decoration: none;
	font-size: 1.5rem;
}

.body {
	background-image: url(../img/Whatsapp-Wallpaper-107.jpg);
	padding: 2rem;
}

/*ФЛЕКСом центрировал ГРИД*/

.GRID-container {
	display: flex;
	height: 33vw;
}

/*Настроил главный ГРИД*/

.GRID {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr minmax(min-content, max-content);
	grid-row-gap: 1rem;
	grid-column-gap: 3rem;
	font-size: 1.4rem;

	/*fallbacks*/
	display: flex;
	flex-wrap: wrap;
	width: 90rem;
	padding: 5rem;
}

.GRID__section {
	/*fallbacks*/
	width: calc(100% / 2);
}

/*Настроил вложенный ГРИД*/

.SUB-GRID__section {
	grid-area: 3 / 1 / 4 / 3;

	/*fallbacks*/
	width: 90rem;
}

.section5 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-column-gap: 1rem;
	grid-row-gap: 3rem;

	/*fallbacks*/
	width: 100%;
	display: flex;
}

/*ФЛЕКСом выровнил иконки по центру*/

.section5__flex-item img {
	height: 10rem;
	width: 10rem;
	position: center;
}

.section5__flex-item {
  	transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: auto;
 }

.section5__flex-item:hover {
  	transform: translateY(-0.7rem);
}

/*использую media queries для устройств с меньшим дисплеем*/

@media all and (max-width: 992px) {
	.GRID {
		grid-template-columns: 1fr; 

		/*fallbacks*/
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		}

	.GRID__section {
		grid-column-start: 1;
		grid-column-end: 3;

		/*fallbacks*/
		width: 70%;
		min-height: 7rem;
	}

	.section5__flex-item img {
		height: 5rem;
		width: 5rem;
	}
	.SUB-GRID__section {
		grid-row: 5/6;

		/*fallbacks*/
		width: 100%;
	}
	
}

@media all and (max-width: 576px) {
	.section5__flex-item img {
		height: 3.3rem;
		width: 3.3rem;
	}
	.section5 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(3.3rem, 1fr));
	}

	.body {
		width: 90vw;
	}
	.GRID__section {
		width: 100%;
	}
	

}
/*использую feature queries для описания свойств CSS GRID*/

@supports (display: grid) {
    .section5 {
	  	width: auto;
	  	padding-left: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		grid-column-gap: 1rem;
		grid-row-gap: 3rem;
    }
    .GRID {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr minmax(min-content, max-content);
		grid-row-gap: 1rem;
		grid-column-gap: 3rem;
		font-size: 1.4rem;
		width: auto;
		padding: 0;
	}
	.SUB-GRID__section {
		width: auto;
	}
	.GRID__section {
		width: auto;
		min-height: auto;
	}
	.section5__flex-item {
		width: auto;
	}
}